.heading-h2 {
  color: var(--Black, #151515);

  /* H1 */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.heading-h3 {
  color: var(--Black, #151515);
  /* H2 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.heading-h4 {
  color: var(--Black, #151515);

  /* H2 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 30px 0 30px;
}
.header-h5 {
  color: var(--white, #fff);
  text-align: center;

  /* H2 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
