.feedback-form__title {
  margin-top: 100px;
}
.feedback-form__subtile {
  margin-top: 20px;
  color: #000;

  /* H2 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.feedback-form {
  margin: 0 auto;
  padding: 20px;

  form {
    margin: 50px auto 0;
    max-width: 580px;

    display: grid;
    justify-content: stretch;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 40px;
  }

  .form-group:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .btn-wrapper {
    grid-column: 1 / span 2;
  }
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  height: 100%;
  padding: 18px 20px;

  border: 1px solid var(--blue, #06f);
  background: var(--white, #fff);
  color: var(--Black, #151515);

  /* Text 16 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}

textarea {
  min-height: 100px;
  resize: vertical;
}

input::placeholder,
input::-webkit-input-placeholder,
textarea::placeholder,
textarea::-webkit-input-placeholder {
  opacity: .5;
}

.feedback-form__btn {
  display: inline-flex;
  padding: 13px 61px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.error {
  border-color: #ff4444;
}

.error-message {
  color: #ff4444;
  font-size: 0.8em;
  margin-top: 5px;
}

button {
  background-color: #151515;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  text-transform: uppercase;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.status-message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
}

.success {
  background-color: #dff0d8;
  color: #3c763d;
}

.error {
  background-color: #f2dede;
  color: #a94442;
}
